:root {
    --max-width: 1100px;
    --border-radius: 8px;
  
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  
    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
    );
    --secondary-glow: radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  
    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );
  
    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
  }
  
/* Reset styles */
*{
  padding: 0;
  margin: 0;
}

.content {
  margin-left: 16rem;
  
  /* Responsive Styles */
  @media (max-width: 768px) and (orientation: portrait) {
    margin-top: 3rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FAFBFC;
  color: #333;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
